
@{
    ViewData["Title"] = "Admin";
}

<h1>Control Panel</h1>

<ul>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="Home">Home</a></li>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="Projects">Projects</a></li>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="Services">Services</a></li>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="AboutMe">About me</a></li>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="Contact">Contact</a></li>
    <li><a asp-controller="Admin" asp-action="EditPage" asp-route-title="PrivacyPolicy">Privacy Policy</a></li>
</ul>